.app-header .top-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3.5em;
  background-color: #fff;
}

@media (min-width: 73.1875em) {
  .app-header .top-bar {
    justify-content: space-between;
    max-width: 73.125em;
    box-sizing: border-box;
    margin: 0 auto;
    padding-right: 2.5em;
    padding-left: 2.5em;
  }
}

.top-bar .open-menu {
  position: absolute;
  left: 1.1875em;
  cursor: pointer;
}

@media (min-width: 46.9375em) {
  .top-bar .open-menu { left: 3.25em; }
}

@media (min-width: 73.1875em) {
  .top-bar .open-menu { display: none; }
}

.open-menu .bar1,
.open-menu .bar2,
.open-menu .bar3 {
  width: 1.5em;
  height: .1875em;
  background-color: #000;
  -webkit-transition: .4s;
     -moz-transition: .4s;
          transition: .4s;
}

.open-menu .bar2 { margin: .3125em 0; }

.open-menu.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-.3125em, .3125em);
          transform: rotate(-45deg) translate(-.3125em, .3125em);
}

.open-menu.open .bar2 { opacity: 0; }

.open-menu.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-.375em, -.375em);
          transform: rotate(45deg) translate(-.375em, -.375em);
}

.top-bar .logo-challenge {
  width: 2.8125em;
  height: 2.8125em;
  background-image: url("../../assets/logo.png");
  background-position: center center;
  background-size: contain;
}

@media (min-resolution: 2dppx) {
  .top-bar .logo-challenge { background-image: url("../../assets/logo@2x.png"); }
}

.app-header .menu-app {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  transform: translateY(-100%);
  font-family: "Lato", sans-serif;
  font-size: .875em;
  color: #3e433e;
  background-color: #fff;
  -webkit-transition: .4s;
     -moz-transition: .4s;
          transition: .4s;
}

@media (min-width: 73.1875em) {
  .app-header .menu-app {
    position: initial;
    width: auto;
    transform: translateY(0);
    z-index: initial;
  }
}

.menu-app.open { transform: translateY(4.0714em); }

@media (min-width: 73.1875em) {
  .app-header .menu-app.open { transform: translateY(0); }
}

@media (min-width: 73.1875em) {
  .menu-app .menu-items-list { display: flex; }
}

.menu-app .item-menu:first-of-type { margin-top: 1.5625em; }

@media (min-width: 73.1875em) {
  .menu-app .item-menu:first-of-type { margin-top: 0; }
}

.menu-app .item-menu {
  margin-top: 1.9375em;
  margin-left: 2em;
  text-transform: uppercase;
}

@media (min-width: 46.9375em) {
  .menu-app .item-menu { margin-left: 4.0625em; }
}

@media (min-width: 73.1875em) {
  .menu-app .item-menu {
    margin-top: 0;
    margin-left: 1.8125em;
  }
}

.menu-app .item-menu:last-of-type { margin-bottom: 1.5625em; }

@media (min-width: 73.1875em) {
  .menu-app .item-menu:last-of-type {
    margin-left: 3.375em;
    margin-bottom: 0;
  }
}

.item-menu .category-link {
  color: #3e433e;
  text-decoration: none;
}

.item-menu .category-link.selected { font-weight: bold; }

.item-menu .login-link {
  color: #4990e2;
  font-weight: bold;
  text-decoration: none;
}
