.app-main .interests {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 15.125em;
  margin-right: auto;
  margin-left: auto;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

@media (min-width: 46.9375em) {
  .app-main .interests {
    grid-column: 1 / 3;
    max-width: 34.375em;
  }
}

@media (min-width: 73.1875em) {
  .app-main .interests { grid-column: 1 / 5; }
}

.interests .interests-title {
  margin-bottom: 2.5416em;
  font-size: 1.5em;
  color: #3e433e;
  text-align: center;
}

.interests-title .title-username { color: #4990e2; }

.interests .interests-subtitle {
  font-size: .875em;
  color: #3e433e;
  text-transform: uppercase;
}

.interests .my-interests {
  margin-top: 1.1875em;
  margin-bottom: 3.25em;
}

@media (min-width: 46.9375em) {
  .interests .my-interests {
    display: flex;
    justify-content: space-between;
  }
}

.my-interests .interest-tag {
  display: block;
  margin-top: 1em;
  padding-top: .4285em;
  padding-bottom: .4285em;
  font-size: .875em;
  text-transform: uppercase;
  text-align: center;
  border-radius: 7.1428em;
  border: .0714em solid #fff;
  cursor: pointer;
}

@media (min-width: 46.9375em) {
  .my-interests .interest-tag {
    padding-right: 1.2857em;
    padding-left: 1.2857em;
  }
}

.interest-tag.politics {
  color: #d0011b;
  border-color: #d0021b;
}

.politics.active {
  color: #fff;
  background-color: #d0011b;
}

.interest-tag.business {
  color: #bd10e0;
  border-color: #bd10e0;
}

.business.active {
  color: #fff;
  background-color: #bd10e0;
}

.interest-tag.tech {
  color: #4a90e2;
  border-color: #4a90e2;
}

.tech.active {
  color: #fff;
  background-color: #4a90e2;
}

.interest-tag.science {
  color: #7cbb37;
  border-color: #7cbb37;
}

.science.active {
  color: #fff;
  background-color: #7cbb37;
}

.interest-tag.sports {
  color: #f5a623;
  border-color: #f5a623;
}

.sports.active {
  color: #fff;
  background-color: #f5a623;
}

.interests .input { display: none; }

.interests .interests-submit {
  height: 3.25em;
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
  background-color: #4990e2;
  border: 0;
  outline: 0;
  cursor: pointer;
}

@media (min-width: 46.9375em) {
  .interests .interests-submit {
    width: 100%;
    max-width: 15.125em;
    margin: 0 auto;
  }
}

.interests .interests-submit:hover { background-color: #5e9be2; }

.interests .interests-submit:disabled {
  cursor: default;
  background-color: #4990e2;
  opacity: .5;
}

.interests .interests-back-link {
  margin-top: 1.6875em;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  color: #4990e2;
}
