html { overflow-y: scroll; }

/* Application header with logo and menu */
.app-header {
  position: relative;
  top: 0;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid #979797;
  background-color: #fff;
}

@media (min-width: 73.1875em) {
  .app-header { position: fixed; }
}

/* Wrapping element for .news, .login and .interests  */
.app-main {
  display: grid;
  width: 100%;
  box-sizing: border-box;
  padding: 3.4375em .9375em;
}

@media (min-width: 46.9375em) {
  .app-main {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.875em;
    padding-right: 2.5em;
    padding-left: 2.5em;
  }
}

/* Takes into consideration menu height */
@media (min-width: 73.1875em) {
  .app-main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 73.125em;
    margin: 0 auto;
    padding-top: calc(4.75em + 3.5em);
  }
}
