.app-main .login {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 15.125em;
  margin-right: auto;
  margin-left: auto;
  font-family: "Lato", sans-serif;
}

@media (min-width: 46.9375em) {
  .app-main .login { grid-column: 1 / 3; }
}

@media (min-width: 73.1875em) {
  .app-main .login { grid-column: 1 / 5; }
}

.login .login-title {
  margin-bottom: 2.625em;
  font-size: 1.5em;
  color: #3e433e;
  text-align: center;
  text-transform: uppercase;
}

.login .login-label {
  margin-bottom: .7142em;
  font-size: .875em;
  color: #3e433e;
  text-transform: uppercase;
}

.login .login-input {
  height: 2.8571em;
  box-sizing: border-box;
  margin-bottom: 1.5em;
  font-size: .875em;
  padding-right: .5384em;
  padding-left: .5384em;
  border: 1px solid #bfbfbf;
}

.login .login-submit {
  height: 3.25em;
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
  background-color: #4990e2;
  border: 0;
  cursor: pointer;
}

.login .login-submit:hover { background-color: #5e9be2; }
