.app-main .news {
  width: 100%;
  margin-bottom: 3.75em;
}

@media (min-width: 46.9375em) {
  .app-main .news:first-of-type { grid-column: 1 / 3; }
}

.news .news-read-more-link { text-decoration: none; }

@media (min-width: 73.1875em) {
  .news .news-read-more-link:hover .news-read-more {
    opacity: 1;
    -webkit-transition: opacity .6s ease-in-out;
       -moz-transition: opacity .6s ease-in-out;
            transition: opacity .6s ease-in-out;
  }
}

.news .news-category {
  margin-bottom: .8em;
  font-family: "Lato", sans-serif;
  font-size: .625em;
  text-transform: uppercase;
}

.news-category.politics { color: #d0021b; }

.news-category.business { color: #bd10e0; }

.news-category.tech { color: #4a90e2; }

.news-category.science { color: #7cbb37; }

.news-category.sports { color: #f5a623; }

.news .news-highlight { position: relative; }

.news .news-read-more { display: none; }

@media (min-width: 73.1875em) {
  .news:first-of-type .news-read-more {
    padding: .6666em 1.7777em;
    font-size: 1.125em;
  }
}

@media (min-width: 73.1875em) {
  .news .news-read-more {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    padding: .6428em 1.5em;
    font-family: "Lato", sans-serif;
    font-size: .875em;
    color: #fff;
    text-transform: capitalize;
    background-color: rgba(0,0,0,.5);
    border: .0714em solid #fff;
    opacity: 0;
    -webkit-transition: opacity .3s ease-in-out;
       -moz-transition: opacity .3s ease-in-out;
            transition: opacity .3s ease-in-out;
  }
}

.news .news-image {
  width: 100%;
  margin-bottom: .9375em;
}

.news .news-title {
  font-family: "Lato", sans-serif;
  font-size: 1.0625em;
  line-height: 1.5;
  color: #000;
}

@media (min-width: 46.9375em) {
  .news:first-of-type .news-title { font-size: 1.8125em; }
}

.news .news-author {
  display: flex;
  align-items: center;
  margin-top: .625em;
  margin-bottom:  1.25em;
  color: #808080;
}

.news .author-image {
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

@media (min-width: 46.9375em) {
  .news:first-of-type .author-image {
    width: 2.8125em;
    height: 2.8125em;
  }
}

.news-author .author-name {
  margin-left: .5384em;
  font-family: "Open Sans", sans-serif;
  font-size: .8125em;
  line-height: 1.5;
  font-style: italic;
}

.news .news-description {
  font-family: "Open Sans", sans-serif;
  font-size: .875em;
  line-height: 1.8;
  color: #686868;
}

@media (min-width: 46.9375em) {
  .news:first-of-type .news-description { display: none; }
}

.warn-not-found {
  width: 100%;
  font-family: "Lato", sans-serif;
  font-size: 1.0625em;
  line-height: 1.5;
  color: #000;
  text-align: center;
}

@media (min-width: 46.9375em) {
  .warn-not-found { grid-column: 1 / 3; }
}

@media (min-width: 73.1875em) {
  .warn-not-found { grid-column: 1 / 5; }
}

.news.loading {
  position: relative;
  width: 100%;
  height: 28.75em;
  background-color: #f6f7f8;
}

.news.loading .background-masker {
  position: absolute;
  background: #fff;
}

.background-masker.category-right {
  top: 0;
  right: 0;
  width: calc(100% - 2.75em);
  height: .625em;
}

.background-masker.category-bottom {
  top: .625em;
  width: 100%;
  height: .5em;
}

.background-masker.image-bottom {
  top: 12.6875em;
  width: 100%;
  height: .9375em;
}

.background-masker.title-top-right {
  top: 13.625em;
  right: 0;
  width: 2.5em;
  height: 1.25em;
}

.background-masker.title-middle {
  top: 14.875em;
  width: 100%;
  height: .625em;
}

.background-masker.title-bottom-right {
  top: 15.5em;
  right: 0;
  width: 8.125em;
  height: 1.25em;
}

.background-masker.title-bottom {
  top: 16.75em;
  width: 100%;
  height: .625em;
}

.background-masker.author-image-top-right {
  top: 17.375em;
  right: 0;
  width: calc(100% - 2em);
  height: .5em;
}

.background-masker.author-image-middle-first {
  top: 17.875em;
  left: 2em;
  width: .5em;
  height: 1em;
}

.background-masker.author-image-middle-last {
  top: 17.875em;
  right: 0;
  width: calc(100% - 8.125em);
  height: 1em;
}

.background-masker.author-image-bottom-right {
  top: 18.875em;
  right: 0;
  width: calc(100% - 2em);
  height: .5em;
}

.background-masker.description-top {
  top: 19.375em;
  width: 100%;
  height: 1.25em;
}

.animated-background {
  background: #f6f7f8;
  background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
  background-size: 73.125em;
  -webkit-animation: animatedBackground 1s linear infinite;
     -moz-animation: animatedBackground 1s linear infinite;
          animation: animatedBackground 1s linear infinite;
}

@-webkit-keyframes animatedBackground {
  0% { background-position: -40.8125em 0 }
  100% { background-position: 40.8125em 0 }
}

@-moz-keyframes animatedBackground {
  0% { background-position: -40.8125em 0 }
  100% { background-position: 40.8125em 0 }
}

@keyframes animatedBackground {
  0% { background-position: -40.8125em 0 }
  100% { background-position: 40.8125em 0 }
}
